body{
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    position: absolute;
    display: flex;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.quote{
    margin-top: 60px;
    letter-spacing: 0.05rem;
    z-index: 2;
    
}

.quothes{
    position: absolute;
    left: 32%;
    top: 37%;
    width: 72px;
}

.name-position{
    display: flex;
    font-size: 1rem;
    position: relative;
    top: 50%;
}

.position{
    color: rgba(77, 71, 71, 0.712);
}

.name{
    margin-right: 5px;
    font-weight: 700;
    
}


.curve{
    position: absolute;
    top: 85%;
}



.bkg{
    position: absolute;
    left: 48%;
    top:15%;
    z-index: -1;
}

 .pre{
    margin-right: 30px;
}

.arrows{
    background: white;
    border-radius: 15px;
}

.prev{
    outline: none;
    border: none;
    background: white;
    cursor: pointer;

}

.arrows{
    position: absolute;
    bottom: -20px;
    left: 610px;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 6px 0px 20px 1px rgba(77, 71, 71, 0.3);
}

.next{
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
}


.quote-mobile{
    display: none;
}

.image-tanya{
    width: 550px;
    position: relative;
    left: 20px;
     box-shadow:  0px 6px 20px 5px rgba(77, 71, 71, 0.3);
}

.curve-mobile{
    display: none;
}



.left{
    width: 550px;
    position: relative;
    left:10%;
    z-index: 2;
}



@media(max-width:480px){

  
 
.container{
    flex-direction: column-reverse;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 350px;
    margin-top: 130px;
    
}

.quote{
    text-align: center;
}

.image-tanya{
    width: 100%;
    max-width: 250px;
    position: relative;
    left: 0px;
    bottom: 120px;
    
}
.left{
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 260px;
    
    position: relative;
    left:0%;
    z-index: 2;
}


.bkg{
    position: absolute;
    width: 100%;
    max-width: 330px;
    left: 30px;
    top:0px;
    margin-top: 20px;
    
  
}

.bkg-mobile{
    width: 100%;
    max-width: 350px;
}

.curve-mobile{
    display: block;
}


.curve{
   display: none;
}

.curve-mobile{
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 20px;
}


.left{
    width: 100%;
    width: 400px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
.quote{
    display: none;
}


.quote-mobile{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    bottom: 140px;
}
.quothes{
    position: absolute;
    left:160px;
    top: 385px;
    width: 100%;
    max-width: 65px;
}

.arrows{
    position: absolute;
    bottom: 470px;
    left: 140px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 6px 0px 20px 1px rgba(77, 71, 71, 0.3);
}

.name-position{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    position: relative;
    top: -150px;
    line-height: 0.02rem;
    text-align: center;

}

.name{
    margin-bottom: 10px;
}








}
